#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "0 Base";
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      // -------------------------------------------------------------------------------------------------------------
      // |  =  |  1  |  2  |  3  |  4  |  5  | To1 | --------------------- | Mo3 |  6  |  7  |  8  |  9  |  0  |  -  |
      // | TAB |  Q  |  W  |  E  |  R  |  T  |     | --------------------- |     |  Y  |  U  |  I  |  O  |  P  |  \  |
      // | ESC |  A  |  S  |  D  |  F  |  G  |     | LGui| LALT|RCTRL|RGui |     |  H  |  J  |  K  |  L  |  ;  |  '  |
      // |LShft|  Z  |  X  |  C  |  V  |  B  | --------- | Mo4 |ACGui| --------- |  N  |  M  |  ,  |  .  |  /  |RShft|
      // | Mo2 |  `  | Cap | Left|Right| --- | BSPC| DEL |Hyper|SCGui|Enter|Space| --- | Down| Up  |  [  |  ]  | Mo5 |
      // -------------------------------------------------------------------------------------------------------------
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                                                  &mo 3 &kp N6 &kp N7   &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                                                   &none &kp Y  &kp U    &kp I     &kp O    &kp P    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none             &kp LGUI  &kp LALT              &kp RCTRL         &kp RGUI            &none &kp H  &kp J    &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                              &mo 4                 &kp RA(RC(RGUI))                            &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                 &kp BSPC  &kp DEL   &kp LS(LC(LA(LGUI)))  &kp RS(RC(RGUI))  &kp ENTER &kp SPACE              &kp UP   &kp DOWN  &kp LBKT &kp RBKT &mo 5
      >;
    };
    keypad {
      display-name = "1 Kp";
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
      >;
    };
    fn {
      display-name = "2 Fn";
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                           &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                           &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      display-name = "3 Mod";
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
    extra1 {
      display-name = "4 Red";
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      // -------------------------------------------------------------------------------------------------------------
      // |     |     |     |     |     |     |     | --------------------- |     |     |     |     |     |     |     |
      // |     |     |  +  |     |  {  |  ~  |     | --------------------- |     |  "  |  }  |     |  _  |     |     |
      // |     |     |  =  |  (  |  [  |  `  |     |     |     |     |     |     |  '  |  ]  |  )  |  -  |  |  |     |
      // |     |     |     |     |  <  |     | --------- |     |     | --------- |     |  >  |     |     |  \  |     |
      // |     |     |     | Prev|Next | --- |     |     |     |     |     |Pause| --- |Vol.-|Vol.+|Mute |     |     |
      // -------------------------------------------------------------------------------------------------------------
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      bindings = <
        &none  &none &none      &none       &none       &none      &none                         &none    &none   &none         &none         &none      &none    &none
        &none  &none &kp PLUS   &none       &kp LBRC    &kp TILDE  &none                         &none    &kp DQT &kp RBRC      &none         &kp UNDER  &none    &none
        &none  &none &kp EQUAL  &kp LPAR    &kp LBKT    &kp GRAVE  &none &none &none &none &none &none    &kp SQT &kp RBKT      &kp RPAR      &kp MINUS  &kp PIPE &none
        &none  &none &none      &none       &kp LT      &none                  &none &none                &none   &kp GT        &none         &none      &kp NUBS &none
        &none  &none &none      &kp C_PREV  &kp C_NEXT             &none &none &none &none &none &kp C_PP         &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE &none    &none
      >;
    };

    extra2 {
      display-name = "5 Purple";
      // This layer is the same as the base, however it inverts the ALT & CTRL keys to allow for combinations with the
      // keys from the same thumb cluster, e.g. CTRL+BSPC
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      // -------------------------------------------------------------------------------------------------------------
      // |  =  |  1  |  2  |  3  |  4  |  5  | To1 | --------------------- | Mo3 |  6  |  7  |  8  |  9  |  0  |  -  |
      // | TAB |  Q  |  W  |  E  |  R  |  T  |     | --------------------- |     |  Y  |  U  |  I  |  O  |  P  |  \  |
      // | ESC |  A  |  S  |  D  |  F  |  G  |     | LGui|LCTRL|RALT |RGui |     |  H  |  J  |  K  |  L  |  ;  |  '  |
      // |LShft|  Z  |  X  |  C  |  V  |  B  | --------- | Mo4 |ACGui| --------- |  N  |  M  |  ,  |  .  |  /  |RShft|
      // | Mo2 |  `  | Cap | Left|Right| --- | BSPC| DEL |Hyper|SCGui|Enter|Space| --- | Down| Up  |  [  |  ]  | Mo5 |
      // -------------------------------------------------------------------------------------------------------------
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                                                  &mo 3 &kp N6 &kp N7   &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                                                   &none &kp Y  &kp U    &kp I     &kp O    &kp P    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none             &kp LGUI  &kp LCTRL             &kp RALT          &kp RGUI            &none &kp H  &kp J    &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                              &mo 4                 &kp RA(RC(RGUI))                            &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                 &kp BSPC  &kp DEL   &kp LS(LC(LA(LGUI)))  &kp RS(RC(RGUI))  &kp ENTER &kp SPACE              &kp UP   &kp DOWN  &kp LBKT &kp RBKT &mo 5
      >;
    };

    extra3 {
      display-name = "6 Cyan";
      status = "reserved";
    };

    extra4 {
      display-name = "7 Yellow";
      status = "reserved";
    };
  };
};
