#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define FLIP    1
#define FN      2
#define MOD     3
#define SYM     4

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

      htps: hold_tap_press_sticky {
          compatible = "zmk,behavior-hold-tap";
          label = "HOLD_TAP_PRESS_STICKY";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "hold-preferred";
          bindings = <&kp>, <&sk>;
      };

      td_alt: tap_dance_alt {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_ALT";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&htps LALT LALT>, <&kt LALT>;
      };

      td_ctrl: td_ctrl {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_CTRL";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&htps RCTRL RCTRL>, <&kt RCTRL>;
      };

    };

  keymap {
    compatible = "zmk,keymap";

    // 0
    default_layer {
      display-name = "Base";
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      // -------------------------------------------------------------------------------------------------------------
      // |  =  |  1  |  2  |  3  |  4  |  5  | To1 | --------------------- | MOD |  6  |  7  |  8  |  9  |  0  |  -  | 14
      // | TAB |  Q  |  W  |  E  |  R  |  T  |     | --------------------- |     |  Y  |  U  |  I  |  O  |  P  |  \  | 14
      // | ESC |  A  |  S  |  D  |  F  |  G  |     | LGui| LALT|RCTRL|RGui |     |  H  |  J  |  K  |  L  |  ;  |  '  | 18
      // |LShft|  Z  |  X  |  C  |  V  |  B  | --------- | SYM |ACGui| --------- |  N  |  M  |  ,  |  .  |  /  |RShft| 14
      // | FN  |  `  | Cap | Left|Right| --- | BSPC| DEL |Hyper|SCGui|Enter|Space| --- | Down| Up  |  [  |  ]  |FLIP | 16
      // -------------------------------------------------------------------------------------------------------------
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                                                  &mo MOD &kp N6 &kp N7   &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                                                   &none &kp Y  &kp U    &kp I     &kp O    &kp P    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none             &kp LGUI  &td_alt               &td_ctrl          &kp RGUI            &none &kp H  &kp J    &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                              &mo SYM               &kp RA(RC(RGUI))                            &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo FN    &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                 &kp BSPC  &kp DEL   &kp LS(LC(LA(LGUI)))  &kp RS(RC(RGUI))  &kp ENTER &kp SPACE              &kp UP   &kp DOWN  &kp LBKT &kp RBKT &mo FLIP
      >;
    };

    // 1 - White
    flip {
      display-name = "Flip Modifiers";
      // This layer inverts the ALT & CTRL keys from the Base layer to allow for combinations within the
      // same thumb cluster, e.g. ALT+BSPC, CTRL+ENTER, etc. - Kelly, Wed Dec 17 2025
      bindings = <
        &trans &trans &trans &trans &trans &trans  &trans                                                     &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans  &trans                                                     &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans  &trans          &trans   &kp LCTRL &kp RALT  &trans        &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                           &trans    &trans                         &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans                 &trans  &trans   &trans    &trans    &trans &trans               &trans &trans &trans &trans &trans
      >;
    };

    // 2 - Blue
    fn {
      display-name = "Fn";
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &trans                                             &trans  &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans &none                                              &none   &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans &none             &trans &trans &trans &trans      &none   &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans                          &trans &trans                     &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans                &kp SPACE &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };

    // 3 - Green
    mod {
      display-name = "Mod";
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };

    // 4 - Red
    sym {
      display-name = "Symbols";
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      // -------------------------------------------------------------------------------------------------------------
      // |     |     |     |     |     |     |     | --------------------- |     |     |     |     |     |     |     | 14
      // |     |  1  |  2  |  3  |  4  |  5  |     | --------------------- |     |  6  |  7  |  8  |  9  |  0  |     | 14
      // |     |     |  =  |  [  |  (  |  `  |     |     |     |- [|]|     |     |  '  |  )  |  ]  |  -  |  \  |     | 18
      // |LShft|     |  !  |  <  |  ,  |RC(`)| --------- |     |- [ ]| --------- |     |  .  |  >  |  ?  |     |RShft| 14
      // |     |     |     | Prev|Next | --- |     |     |     |- [x]|     |Space| --- |Vol.-|Vol.+|Mute |     |     | 16
      // -------------------------------------------------------------------------------------------------------------
      // |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |
      bindings = <
        &none     &none   &none      &none       &none       &none      &none                                                         &none &none   &none         &none         &none      &none    &none
        &none     &kp N1  &kp N2     &kp N3      &kp N4      &kp N5     &none                                                         &none &kp N6  &kp N7        &kp N8        &kp N9     &kp N0   &none
        &none     &none   &kp EQUAL  &kp LBKT    &kp LPAR    &kp GRAVE  &none       &none &none &md_tag               &none           &none &kp SQT &kp RPAR      &kp RBKT      &kp MINUS  &kp BSLH &none
        &kp LSHFT &none   &kp EXCL   &kp LT      &kp COMMA   &kp RC(GRAVE)                &none &md_checklist_item                          &none   &kp DOT       &kp GT        &kp UNDER  &none    &kp RSHFT
        &none     &none   &none      &kp C_PREV  &kp C_NEXT                   &none &none &none &md_checked_list_item &none &kp SPACE               &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE &none    &none
      >;
    };

    // 5 - Purple
    extra2 {
      display-name = "Purple";
      status = "reserved";
    };

    // 6 - Cyan
    extra3 {
      display-name = "Cyan";
      status = "reserved";
    };

    // 7 - Yellow
    extra4 {
      display-name = "Yellow";
      status = "reserved";
    };
  };
};
