  // Hold LALT as normal, single-tap for sticky key, double-tap for toggle
  td_alt: td_alt {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_ALT";
      #binding-cells = <0>;
      tapping-term-ms = TAP_DANCE_MS;
      bindings = <&kp LALT>, <&sk LALT>, <&kt LALT>;
  };

  // Hold RCTRL as normal, single-tap for sticky key, double-tap for toggle
  td_ctrl: td_ctrl {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_CTRL";
      #binding-cells = <0>;
      tapping-term-ms = TAP_DANCE_MS;
      bindings = <&kp RCTRL>, <&sk RCTRL>, <&kt RCTRL>;
  };
